---
layout: default
---

<head>  <meta name="description" content="CS PhD student at Stanford University advised by Chris Ré.">
<title>Megan Leszczynski - Stanford University</title></head>

<div class="home">

    <div id='wrap'>
      <div id="sidebar">
        <img src="assets/pic.jpg">
        <ul class="social-media-list">
          {% if site.email %}
          <li>
            {% include icon-mail.html email=site.email %}
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
        </ul>
        </div>

    <div id='content'>
    <p>
      Hello! I am a final-year Computer Science PhD student at Stanford University advised by <a href="https://cs.stanford.edu/people/chrismre/">Christopher Ré</a>.  My PhD has focused on developing methods to leverage structured data (e.g., knowledge graphs) to improve natural language representations. During my time at Stanford, I also had the opportunity to intern at Google Research (mentored by <a href=https://arun.chagantys.org/>Arun Chaganty</a>) and <a href=https://www.microsoft.com/en-us/research/group/gray-systems-lab/>Microsoft GSL</a> (mentored by <a href=https://www.linkedin.com/in/fpsallidas/>Fotis Psallidas</a>). Prior to Stanford, I graduated from Cornell with a double major in Computer Science and Electrical & Computer Engineering,  where I was advised by <a href="http://www.csl.cornell.edu/~cbatten/">Christopher Batten</a> on computer architecture research. 
      </p>
      <p>
      I am interested in building machine learning systems. Recently, I have worked on improving how machines understand language, through applications in named entity disambiguation, document retrieval, and conversational recommendations. I enjoy trying to write clean, usable code and distilling topics into simple concepts for teaching. I’ve designed and given lectures to Stanford’s <a href=https://www.youtube.com/watch?v=y68RJVfGoto>CS 224N (NLP with Deep Learning)</a> and <a href="https://cs229.stanford.edu/notes2021spring/notes2021spring/cs229_lecture_selfsupervision_final.pdf">CS 229 (Machine Learning)</a> courses and was an instructor for <a href=https://hai.stanford.edu/stanford-ai4all>Stanford AI4ALL</a> for high school students.
    </p>
    </div>
  </div>


    <h1 class="page-heading">Publications and Preprints</h1>
    <div class="publications">
      <p>
        <div class="title"><a href=https://arxiv.org/pdf/2301.11489.pdf>Generating Synthetic Data for Conversational Music
          Recommendation Using Random Walks and Language Models</a></div>
        <div class="authors">Megan Leszczynski, Ravi Ganti, Shu Zhang, Krisztian Balog, Filip Radlinski, Fernando Pereira, and Arun Tejasvi Chaganty</div>
        <div class="venue"><em>arXiv Preprint</em>, 2023.</div>
      </p>

      <p>
        <div class="title"><a href=https://research.google/pubs/pub51943/>Conversational Music Retrieval with Synthetic Data</a></div>
        <div class="authors">Megan Leszczynski, Ravi Ganti, Shu Zhang, Krisztian Balog, Filip Radlinski, Fernando Pereira, and Arun Tejasvi Chaganty</div>
        <div class="venue">In <em>NeurIPS Interactive Learning for NLP Workshop</em>, 2022.</div>
      </p>

      <p>
        <div class="title"><a href=https://aclanthology.org/2022.findings-acl.169.pdf>TABi: Type-Aware Bi-Encoders for Open-Domain Entity Retrieval</a></div>
        <div class="authors">Megan Leszczynski, Daniel Y. Fu, Mayee F. Chen, and Christopher Ré</div>
        <div class="venue">In <em>Findings of ACL</em>, 2022.</div>
      </p>
      
      <p>
        <div class="title"><a href=https://aclanthology.org/2021.findings-emnlp.388.pdf>Cross-Domain Data Integration for Named Entity Disambiguation in Biomedical Text</a></div>
        <div class="authors">Maya Varma, Laurel Orr, Sen Wu, Megan Leszczynski, Xiao Ling and Christopher Ré</div>
        <div class="venue">In <em>Findings of EMNLP</em>, 2021.</div>
      </p>
      <p>
        <div class="title"><a href=https://arxiv.org/abs/2108.05053>Managing ML Pipelines: Feature Stores and the Coming Wave of Embedding Ecosystems (Tutorial).</a></div>
        <div class="authors">Laurel Orr, Atindriyo Sanyal, Xiao Ling, Karan Goel, Megan Leszczynski</div>
        <div class="venue">In  <em>VLDB</em>, 2021.</div>
      </p>
      <p>
        <div class="title"><a href=http://cidrdb.org/cidr2021/papers/cidr2021_paper13.pdf>Bootleg: Chasing the Tail with Self-Supervised Named Entity Disambiguation</a></div>
        <div class="authors">Laurel Orr*, Megan Leszczynski*, Neel Guha, Sen Wu, Simran Arora, Xiao Ling, Christopher Ré</div>
        <div class="venue">In  <em>CIDR</em>, 2021.</div>
      </p>
      <p>
        <div class="title"><a href=https://proceedings.mlsys.org/paper/2020/hash/c9e1074f5b3f9fc8ea15d152add07294-Abstract.html>Understanding the Downstream Instability of Word Embeddings</a></div>
        <div class="authors">Megan Leszczynski, Avner May, Jian Zhang, Sen Wu, Christopher Richard Aberger, Christopher Ré</div>
        <div class="venue">In  <em>MLSys</em>, 2020.</div>
      </p>
      <p>
      <div class="title"><a href=https://openreview.net/forum?id=BkgrBgSYDS>Kaleidoscope: An Efficient, Learnable Representation For All Structured Linear Maps</a></div>
      <div class="authors">Tri Dao, Nimit Sohoni, Albert Gu, Matthew Eichhorn, Amit Blonder, Megan Leszczynski, Atri Rudra, Christopher Ré</div>
      <div class="venue">In  <em>ICLR</em>, 2020. <em>Spotlight</em>.</div>
      </p>
      <p>
        <div class="title"><a href=https://arxiv.org/abs/1904.10631>Low-Memory Neural Network Training: A Technical Report</a></div>
        <div class="authors">Nimit Sharad Sohoni, Christopher Richard Aberger, Megan Leszczynski, Jian Zhang, Christopher Ré</div>
        <div class="venue"><em>arXiv Preprint</em>, 2019.</div>
      </p>
      <p>
        <div class="title">Quantifying the Stability of Word Embeddings</div>
        <div class="authors">Megan Leszczynski, Sen Wu, Christopher Richard Aberger, Christopher Ré</div>
        <div class="venue">In <em>WiML at NeurIPS</em>, 2018.</div>
      </p>
      <p>
        <div class="title"><a href=https://arxiv.org/abs/1803.03383>High-Accuracy Low-Precision Training</a></div>
        <div class="authors">Christopher De Sa, Megan Leszczynski, Jian Zhang, Alana Marzoev, Christopher Richard Aberger, Kunle Olukotun, Christopher Ré</div>
        <div class="venue"><em>arXiv Preprint</em>, 2018.</div>
      </p>
      <p>
          <div class="title"><a href=https://circuitcellar.com/archive-article/massage-vest-uses-pic32/>iOS Controlled, Low Cost, Low Power Massage Vest Driven by PIC32</a></div>
          <div class="authors">Harry Freeman, Megan Leszczynski, Gargi Ratnaparkhi</div>
          <div class="venue"><em>Circuit Cellar</em>, 2018.</div>
      </p>
      <p>
          <div class="title"><a href="http://phys.csail.mit.edu/papers/3.pdf">Machine Solver for Physics Word Problems</a></div>
          <div class="authors">Megan Leszczynski and José Moreira</div>
          <div class="venue">In <em>NeurIPS Intuitive Physics Workshop</em>, 2016</div>
      </p>
    </div>


  <h1 class="page-heading">Teaching Experience</h1>
      Stanford University
      <ul>
        <li> CS 329S: Machine Learning Systems Design, Teaching Assistant (Winter 2022)</li>
        <li> CS 224N: Natural Language Processing with Deep Learning, Teaching Assistant (Winter 2021)</li>
      </ul>
      Cornell University
        <ul>
          <li>ECE 4750: Computer Architecture, Undergraduate Teaching Assistant (Fall 2016)</li>
          <li>CS 1110: Introduction to Python, Consultant (Fall 2014, Spring 2015, Fall 2015, Spring 2016)</li>
        </ul>

</div>